# Node
frontend/node_modules/
frontend/build/
frontend/.env.local

# Java/Maven
backend/target/
backend/AWSCLIV2.pkg
*.class
*.jar

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
**/.DS_Store

# Secrets / certs
*.pem
global-bundle.pem

# Misc
readme_app
